NODE_ENV=production
PORT=10000

# Backend public URL (Render URL)
APP_BASE_URL=https://kem-y-suong-api.onrender.com

# Frontend public URL (Vercel/Netlify domain)
FRONTEND_URL=https://kem-y-suong.vercel.app
CORS_ORIGIN=https://kem-y-suong.vercel.app,https://ice-cream-123.vercel.app

# MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/kem_y_suong?retryWrites=true&w=majority

# JWT
JWT_ACCESS_SECRET=replace-with-strong-secret-32-chars-min
JWT_REFRESH_SECRET=replace-with-strong-secret-32-chars-min
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# Optional
REDIS_URL=
PAYMENT_WEBHOOK_SECRET=change-me-payment-secret
